.padding{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container, .container-full-height {
    composes: row from '../utils/grid.css';
    composes: padding;
    justify-content: flex-end;
}

.full-height {
    min-height: 100vh;
}


