/* Util */

.fullHeight {
    min-height: auto;
}

.paddingTB {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .fullHeight {
        min-height: 100vh;
    }
    
}

@media screen and (min-width: 1024px) {
    .paddingTB {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}


.row, .row-sticky, .intro-row-sticky, .row-content-full-height, .row-content, .row-intro-image{
    composes: row from '../utils/grid.css';
    composes: paddingTB;
}



.row-content, .row-content-full-height {
    justify-content: flex-end;
}

.row-content-full-height {
    composes: fullHeight;
}

.row-sticky {
    composes: fullHeight;
    align-items: center;
}

.intro-row-sticky {
    justify-content: flex-end;
}

/* Wrappers */

.intro-wrapper, .intro-wrapper-sticky, .image-wrapper, .content-col-right {
    composes: colMd7 from '../utils/grid.css';
}

.col-full-height {
    composes: fullHeight;
}

.col {
    composes: colMd from '../utils/grid.css';
}



/* Round 2 */

.container {
    padding-bottom: 32rem;
}

.intro-container {
    composes: row from '../utils/grid.css';
    align-items: center;
}

.intro-container-image {
    composes: row from '../utils/grid.css';
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.intro-container-sticky {
    composes: row from '../utils/grid.css';
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.head-container {
    composes: row from '../utils/grid.css';
}

.head-container-image {
    composes: row from '../utils/grid.css';
    align-items: center;
}

.head-container-sticky {
    composes: row from '../utils/grid.css';
    composes: paddingTB;
    min-height: 100vh;
    align-items: center;
}

.head-container-sticky-image {
    composes: row from '../utils/grid.css';
    align-items: center;
}

.head-wrapper {
    composes: colMd5 from '../utils/grid.css';
}

.head-wrapper-image {
    composes: colMd5 from '../utils/grid.css';
    align-items: center;
}

.head-wrapper-summary-image {
    composes: colMd6 from '../utils/grid.css';
    align-self: center;
}

.head-wrapper-sticky {
    composes: colMd5 from '../utils/grid.css';
}

.image-container {
    composes: row from '../utils/grid.css';
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
}

.image-container-sticky {
    composes: row from '../utils/grid.css';
    composes: paddingTB;
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
}

.image-wrapper {
    composes: colMd9 colLg8 from '../utils/grid.css';
    opacity: .36;
}

.image-wrapper-phone {
    composes: colMd5 pushMd1 colLg4 pushLg2 from '../utils/grid.css';
}

.summary-wrapper {
    composes: colMd7 from '../utils/grid.css';
}

.summary {
    composes: fontFutura textL from '../utils/type.css';
    padding-top: 2rem;
}

.content-container {
    padding-top: 10rem;
}

.gallery-item {
    width: 100%;
    padding: 4rem;
}

/* Typography */

.intro {
    composes: fontFutura textL from '../utils/type.css';
}


@media screen and (min-width: 768px) {

    .head-container-image, .head-container-sticky-image {
        position: absolute;
        height: 100%;
        top:0;
        left: 0;
        right: 0;
    }

    .head-container-sticky, .head-container-sticky-image {
        min-height: 100vh;
    }

    .intro-container-sticky {
        min-height: 100vh;
    }

    .gallery-item {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {

    .container {
        padding-bottom: 48rem;
    }

    .content-container {
        padding-top: 20rem;
    }
}