.header {
    composes: fontEssonnes headingL from '../utils/type.css';
    color: var(--color-green);
    margin: 0;
}

.process-wrapper {
    position: relative;
}


.process-header {
    composes: fontMuseo from '../utils/type.css';
    font-size: 2rem;
    line-height: 7rem;
    z-index: 1;
    padding: 0 0 1rem 0;
    margin: 0;
}

.process-number {
    composes: fontEssonnes headingM from '../utils/type.css';
    position: absolute;
    top: 0;
    left: -2rem;
    z-index: 0;
    color: var(--color-white-16);
}

.divider {
    composes: divider from '../utils/elements.css';
}

.container {
    z-index: 99;
}

@media screen and (min-width: 768px) {
    .header {
        text-shadow: .25rem .25rem rgb(6, 20, 35);
    }
}

@media screen and (min-width: 1024px) {
    .process-header {
        padding-bottom: 2rem;
    }
    .process-number {
        left: -4rem;
    }
}
