.col-4 {
    composes: colMd4 from '../utils/grid.css';
}

.col-6 {
    composes: colMd6 from '../utils/grid.css';
}

.container {
    composes: row from '../utils/grid.css';
    padding: 12rem 0;
}

.head-container {
    composes: colMd2 pushLg1 from '../utils/grid.css';
}

.head-wrapper {
    padding-bottom: 4rem;
}

.header {
    composes: fontEssonnes from '../utils/type.css';
    composes: headingL from '../utils/type.css';
    color: var(--color-green);
    margin: 0;
    padding: 0;
}

.sub-head {
    composes: fontMuseo from '../utils/type.css';
    composes: headingXxs from '../utils/type.css';
    opacity: .5;
    margin: 2rem 0 2rem 0;
}

.text {
    composes: textM from '../utils/type.css';
    margin: 2rem 0 3rem 0;
}

.content-container {
    composes: colMd10 colLg9 from '../utils/grid.css';
}



.row {
    composes: row from '../utils/grid.css';
    padding: 4rem 0 2rem 0;
    border-bottom: 1px solid rgba(239,244,251,.16);
}

.row:first-child {
    padding-top: 0;
}

.row:last-child {
    border-bottom: none;
}

.skills {
    list-style: none;
    padding: 0;
    margin: 2rem 0 2rem 0;
}

.skill-item {
    composes: textM from '../utils/type.css';
}

.summary-wrapper {
    composes: col from '../utils/grid.css';
}

@media screen and (min-width: 768px) {


    .head-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        transform-origin: bottom left;
        padding-bottom: 0;
        transform: translate(0,-100%) rotate(90deg);
    }

}