:root {
/* Colors */
    --color-black: #061423;
    --color-white: #EFF4FB;
    --color-green: #43CEA2;
    --color-blue: #185A9D;
    --color-white-16: rgba(239,244,251,.16);
    --color-white-50: rgba(239,244,251,.5);

    /* Fonts */
    --font-family-museo: museo-slab, serif;
    --font-family-futura: futura-pt, sans-serif;
    --font-family-essonnes: essonnes-display, Georgia, serif;
    --font-weight-museo: 700;
    --font-weight-futura: 400;
    --font-weight-essonnes: 700;


    /* Grid */
    --gutter-width: 8rem;
    --col-padding: calc(var(--gutter-width) * 0.5);
    --gutter-comp: calc((var(--gutter-width) * 0.5) * -1);
    --container-width: 100vw;
    --full-bleed: var(--gutter-comp);
    
    --col-width-1: 8.33333333%;
    --col-width-2: 16.66666667%;
    --col-width-3: 25%;
    --col-width-4: 33.33333333%;
    --col-width-5: 41.66666667%;
    --col-width-6: 50%;
    --col-width-7: 58.33333333%;
    --col-width-8: 66.66666667%;
    --col-width-9: 75%;
    --col-width-10:83.33333333%;
    --col-width-11: 91.66666667%;
    --col-width-12: 100%;

  }

  @media screen and (min-width: 768px) {
    :root{
        --gutter-width: 4rem;
        --container-width: 88vw;
        --full-bleed: calc(var(--gutter-comp) + -6vw);
    }

}

  @media screen and (min-width: 1200px) {
      :root{
          --container-width: 72vw;
          --full-bleed: calc(var(--gutter-comp) + -14vw);
      }

  }

  /* Master Styles/Overrides  */


  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 8px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-white);
    font-family: var(--font-family-futura);
    font-weight: var(--font-weight-futura);
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-size: 2.25rem;
    line-height: 3rem;
    overflow-x: hidden;
    background-color: var(--color-black);
  }
  
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
  }

.main-container {
    visibility: hidden;
}

