:root {
/* Colors */
    --color-black: #061423;
    --color-white: #EFF4FB;
    --color-green: #43CEA2;
    --color-blue: #185A9D;
    --color-white-16: rgba(239,244,251,.16);
    --color-white-50: rgba(239,244,251,.5);

    /* Fonts */
    --font-family-museo: museo-slab, serif;
    --font-family-futura: futura-pt, sans-serif;
    --font-family-essonnes: essonnes-display, Georgia, serif;
    --font-weight-museo: 700;
    --font-weight-futura: 400;
    --font-weight-essonnes: 700;


    /* Grid */
    --gutter-width: 8rem;
    --col-padding: calc(var(--gutter-width) * 0.5);
    --gutter-comp: calc((var(--gutter-width) * 0.5) * -1);
    --container-width: 100vw;
    --full-bleed: var(--gutter-comp);
    
    --col-width-1: 8.33333333%;
    --col-width-2: 16.66666667%;
    --col-width-3: 25%;
    --col-width-4: 33.33333333%;
    --col-width-5: 41.66666667%;
    --col-width-6: 50%;
    --col-width-7: 58.33333333%;
    --col-width-8: 66.66666667%;
    --col-width-9: 75%;
    --col-width-10:83.33333333%;
    --col-width-11: 91.66666667%;
    --col-width-12: 100%;

  }

  @media screen and (min-width: 768px) {
    :root{
        --gutter-width: 4rem;
        --container-width: 88vw;
        --full-bleed: calc(var(--gutter-comp) + -6vw);
    }

}

  @media screen and (min-width: 1200px) {
      :root{
          --container-width: 72vw;
          --full-bleed: calc(var(--gutter-comp) + -14vw);
      }

  }

  /* Master Styles/Overrides  */


  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    font-size: 8px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-white);
    font-family: var(--font-family-futura);
    font-weight: var(--font-weight-futura);
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-size: 2.25rem;
    line-height: 3rem;
    overflow-x: hidden;
    background-color: var(--color-black);
  }
  
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
  }

/* Grid Styles */

.grid {
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    margin-left: var(--gutter-comp);
    margin-right: var(--gutter-comp);
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    flex: 0 1 auto;
    padding-left: var(--col-padding);
    padding-right: var(--col-padding);
    position: relative;
}

.col {
    flex: 1;
}

/* defaul and sm */

.col-1, .col-sm-1 {
    flex: 0 0 var(--col-width-1);
}
.col-2, .col-sm-2 {
    flex: 0 0 var(--col-width-2);
}
.col-3, .col-sm-3 {
    flex: 0 0 var(--col-width-3);
}
.col-4, .col-sm-4 {
    flex: 0 0 var(--col-width-4);
}
.col-5, .col-sm-5 {
    flex: 0 0 var(--col-width-5);
}
.col-6, .col-sm-6 {
    flex: 0 0 var(--col-width-6);
}
.col-7, .col-sm-7 {
    flex: 0 0 var(--col-width-7);
}
.col-8, .col-sm-8 {
    flex: 0 0 var(--col-width-8);
}
.col-9, .col-sm-9 {
    flex: 0 0 var(--col-width-9);
}
.col-10, .col-sm-10 {
    flex: 0 0 var(--col-width-10);
}
.col-11, .col-sm-11 {
    flex: 0 0 var(--col-width-11);
}
.col-12, .col-sm-12 {
    flex: 0 0 var(--col-width-12);
}

.push-1, .push-sm-1 {
    margin-left: var(--col-width-1);
}
.push-2, .push-sm-2 {
    margin-left: var(--col-width-2);
}
.push-3, .push-sm-3 {
    margin-left: var(--col-width-3);
}
.push-4, .push-sm-4 {
    margin-left: var(--col-width-4);
}
.push-5, .push-sm-5 {
    margin-left: var(--col-width-5);
}
.push-6, .push-sm-6 {
    margin-left: var(--col-width-6);
}
.push-7, .push-sm-7 {
    margin-left: var(--col-width-7);
}
.push-8, .push-sm-8 {
    margin-left: var(--col-width-8);
}
.push-9, .push-sm-9 {
    margin-left: var(--col-width-9);
}
.push-10, .push-sm-10 {
    margin-left: var(--col-width-10);
}
.push-11, .push-sm-11 {
    margin-left: var(--col-width-11);
}


@media screen and (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 var(--col-width-1);
    }
    .col-md-2 {
        flex: 0 0 var(--col-width-2);
    }
    .col-md-3 {
        flex: 0 0 var(--col-width-3);
    }
    .col-md-4 {
        flex: 0 0 var(--col-width-4);
    }
    .col-md-5 {
        flex: 0 0 var(--col-width-5);
    }
    .col-md-6 {
        flex: 0 0 var(--col-width-6);
    }
    .col-md-7 {
        flex: 0 0 var(--col-width-7);
    }
    .col-md-8 {
        flex: 0 0 var(--col-width-8);
    }
    .col-md-9 {
        flex: 0 0 var(--col-width-9);
    }
    .col-md-10 {
        flex: 0 0 var(--col-width-10);
    }
    .col-md-11 {
        flex: 0 0 var(--col-width-11);
    }
    .col-md-12 {
        flex: 0 0 var(--col-width-12);
    }
    
    .push-md-1 {
        margin-left: var(--col-width-1);
    }
    .push-md-2 {
        margin-left: var(--col-width-2);
    }
    .push-md-3 {
        margin-left: var(--col-width-3);
    }
    .push-md-4 {
        margin-left: var(--col-width-4);
    }
    .push-md-5 {
        margin-left: var(--col-width-5);
    }
    .push-md-6 {
        margin-left: var(--col-width-6);
    }
    .push-md-7 {
        margin-left: var(--col-width-7);
    }
    .push-md-8 {
        margin-left: var(--col-width-8);
    }
    .push-md-9 {
        margin-left: var(--col-width-9);
    }
    .push-md-10 {
        margin-left: var(--col-width-10);
    }
    .push-md-11 {
        margin-left: var(--col-width-11);
    }
}

@media screen and (min-width: 1200px) {

    .col-lg-1 {
        flex: 0 0 var(--col-width-1);
    }
    .col-lg-2 {
        flex: 0 0 var(--col-width-2);
    }
    .col-lg-3 {
        flex: 0 0 var(--col-width-3);
    }
    .col-lg-4 {
        flex: 0 0 var(--col-width-4);
    }
    .col-lg-5 {
        flex: 0 0 var(--col-width-5);
    }
    .col-lg-6 {
        flex: 0 0 var(--col-width-6);
    }
    .col-lg-7 {
        flex: 0 0 var(--col-width-7);
    }
    .col-lg-8 {
        flex: 0 0 var(--col-width-8);
    }
    .col-lg-9 {
        flex: 0 0 var(--col-width-9);
    }
    .col-lg-10 {
        flex: 0 0 var(--col-width-10);
    }
    .col-lg-11 {
        flex: 0 0 var(--col-width-11);
    }
    .col-lg-12 {
        flex: 0 0 var(--col-width-12);
    }

    .push-lg-1 {
        margin-left: var(--col-width-1);
    }
    .push-lg-2 {
        margin-left: var(--col-width-2);
    }
    .push-lg-3 {
        margin-left: var(--col-width-3);
    }
    .push-lg-4 {
        margin-left: var(--col-width-4);
    }
    .push-lg-5 {
        margin-left: var(--col-width-5);
    }
    .push-lg-6 {
        margin-left: var(--col-width-6);
    }
    .push-lg-7 {
        margin-left: var(--col-width-7);
    }
    .push-lg-8 {
        margin-left: var(--col-width-8);
    }
    .push-lg-9 {
        margin-left: var(--col-width-9);
    }
    .push-lg-10 {
        margin-left: var(--col-width-10);
    }
    .push-lg-11 {
        margin-left: var(--col-width-11);
    }
}
