.header, .content {
    min-height: 100vh;
}

.header {
    align-items: center;
}

.content {
    justify-content: flex-end;
}

.content h5 {
    font-family: var(--font-family-museo);
    font-weight: var(--font-weight-museo);
    font-size: 2rem;
    line-height: 2rem;
    opacity: 50%;
}

.content p {
    font-size: 3rem;
    line-height: 5rem;
}

@media screen and (min-width: 768px) {
    .cointainer {
        padding-bottom: 50vh;
    }

    .content {
        margin-top: 50vh;
    }
}
