.slide-container {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.title-wrapper, .info-container, .skills, .num-container {
    position: absolute;
    z-index: 4;
}

.title-wrapper{
    top: 18rem;
    left: var(--col-width-1);
    width: var(--col-width-6);
}

.title {
    composes: fontEssonnes from '../utils/type.css';
    composes: headingXxl from '../utils/type.css';
    color: var(--color-green);
    margin: 0;
    padding: 0;
}

.title-link {
    text-decoration: none;
}

.line {
    composes: divider from '../utils/elements.css';
}

.view {
    composes: textM from '../utils/type.css';
    color: var(--color-white);
    display: block;
    padding-top: 2rem;
    text-decoration: none;
}

.skills {
    display: none;
    composes: textM from '../utils/type.css';
    bottom: 20rem;
    left: var(--col-padding);
    width: var(--col-width-5);
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-item {
    composes: fontS from '../utils/type.css';
}



.info-container {
    composes: fontMuseo from '../utils/type.css';
    composes: fontM from '../utils/type.css';
    top: 13rem;
    right: var(--col-width-2);
    width: var(--col-width-12);
    white-space: nowrap;
    transform-origin: bottom left;
    transform: translate(100%,-100%) rotate(90deg);
    overflow: hidden;
}

.num-container {
    composes: fontEssonnes from '../utils/type.css';
    bottom: 4rem;
    right: 0;
    width: var(--col-width-3);
}

.num-current {
    composes: headingXxl from '../utils/type.css';
    color: var(--color-green);
    overflow: hidden;
}

.num-wrapper {
    display: inline-block;
}

.num-total {
    composes: headingS from '../utils/type.css';
    opacity: 50%;
}

.image-wrapper {
    flex: 1 0 100%;
    margin: 0 calc((var(--col-padding) + 12vw) * -1) 20rem calc((var(--col-padding) + 12vw) * -1);
    clip-path: circle(36%);
}

.image {
    border: none
}

@media screen and (min-width: 768px) {
    .slide-container {
        align-items: center;
    }

    .skills {
        display: block;
    }

    .num-container {
        bottom: 23rem;
        width: var(--col-width-2);
    }

    .image-wrapper {
        margin: 0 var(--full-bleed);
    }

}

@media screen and (min-width: 1024px) {
    .num-container {
        right: var(--col-width-2);
    }

    .skills {
        bottom: 8rem;
        left: var(--col-width-2);
        width: var(--col-width-4);
    }

    .image-wrapper{
        max-width: 112rem;
    }
    
}