.padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
    .padding {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
    .head-sticky, .intro-sticky {
        min-height: 100vh;
    }   
}

.head, .head-sticky, .intro, .intro-sticky {
    composes: row from '../utils/grid.css';
    composes: padding;
}

.head-sticky {
    align-items: center;
}

.head-wrapper {
  composes: colMd5 from '../utils/grid.css';
}

.into, .intro-sticky {
    justify-content: flex-end;
}

.intro-wrapper {
    composes: colMd7 colLg6 from '../utils/grid.css';
}

.intro-p {
    composes: fontFutura textL from '../utils/type.css';
}



