.intro {
    height: 96vh;
    align-items: flex-end;
    padding-bottom: 16rem;
}

.title > h2 {
    font-family: var(--font-family-essonnes);
    font-weight: var(--font-weight-essonnes);
    font-size: 9rem;
    line-height: 10rem;
    color: var(--color-green);
    margin: 0;
    padding: 0;
}

.line {
    display: block;
    height: .5rem;
    width: 16rem;
    margin-top: 3rem;
    background-color: var(--color-white);
}

.category {
    font-family: var(--font-family-museo);
    font-weight: var(--font-weight-museo);
    font-size: 2.5rem;
    line-height: 2.5 rem;
    padding-top: 3rem;
}